/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*////////////////////////
    1. Global Styles
////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --grijs: #899CA0;
    --donkergroen: #1C2B32;
}


/*////////////////////////
    2. Header
////////////////////////*/
header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    }
header p{
    margin-bottom: 20px;
}
header h1{
    font-size: 76px;
    font-weight: bold;
}
.zoekbalk {
   max-width: 1000px;
    margin: auto;
    padding: 30px 0;

}
.zoekbalk input {
    margin: -20px;
    border-radius: 50px 0 0 50px;
    border: 2px solid var(--donkergroen);
    width: 350px;
    height: 60px;
    padding: 10px;
    background: transparent;
}
.zoekbalk button {
    border-radius: 0 50px 50px 0;
    border: 2px solid var(--donkergroen);
    background-color: var(--donkergroen);
    color: white;
    height: 60px;
    padding: 10px;
}
input::placeholder{
    color: var(--donkergroen);
}
/*////////////////////////
    3. Main
////////////////////////*/

main{
    max-width: 1000px;
    margin: auto;
}
main a{
    color: var(--grijs);

}
main a:hover{
    text-decoration-line: none;
}
section article{
    border: 1px solid var(--grijs);
    border-radius: 8px;
    margin: 40px;
    box-shadow: 2px 8px 9px 7px rgba(0,0,0,0.12);
    width: 100%;
    height: 200px;
    position: relative;
}
section article p{
    padding: 50px 100px 0 100px;
}
section article div{
    padding: 0 100px 50px 100px;
}
section article div{
    font-style: italic;
}
.quote{
    position: absolute;
    top: 40px;
    left: 60px;
}
.people{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 10px;
    vertical-align: middle;

}
.helpdesk img{
    width: 100%;
    border-radius: 8px;
    margin: 20px;
}
.helpdesk p{
    margin-bottom: 20px;
}
.helpdesk button{
    background-color: var(--donkergroen);
    border-radius: 40px;
    color: white;
    height: 60px;
    width: 150px;
    margin-bottom: 10px;
    font-weight: bolder;
}
section h2{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 50px;
    margin-top: 50px;
}
section details{
    margin: 20px;
}
section details:hover{
    cursor: pointer;
}
section details p{
    background-color: var(--grijs);
    border-radius: 8px;
    color: white;
    padding: 30px;
    margin-top: 10px;
}

/*////////////////////////
    4. Footer
////////////////////////*/
footer p{
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 45px;
    font-size: small;
    margin-top: 40px;
}